/* Error: Undefined variable.
 *    ,
 * 25 |   @media(min-width: $brk-pt-mq) {
 *    |                     ^^^^^^^^^^
 *    '
 *   scss\utilities\_mixins.scss 25:21  tabletMq()
 *   scss\component\_buttons.scss 14:3  @import
 *   scss\component\_index.scss 2:9     @import
 *   scss\styles.scss 5:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 25 \2502    @media(min-width: $brk-pt-mq) {\d\a    \2502                      ^^^^^^^^^^\a    \2575 \a   scss\\utilities\\_mixins.scss 25:21  tabletMq()\a   scss\\component\\_buttons.scss 14:3  @import\a   scss\\component\\_index.scss 2:9     @import\a   scss\\styles.scss 5:9               root stylesheet";
}
