/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: $gutter-s 0;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color .3s ease-in-out;
  @include tabletMq {
   padding: $gutter-s 30px;
   }
}

.default {
  background-color: $default;
   &:hover {
     background-color: lighten($default-light, 15%);
   }
}

.error {
  background-color: $error;
   &:hover {
     background-color: lighten($error-light, 15%);
   }
}

.info {
  background-color: $info;
   &:hover {
     background-color: lighten($info-light, 15%);
   }
}

.success {
  background-color: $success;
   &:hover {
     background-color: lighten($success-light, 15%);
   }
}

.warning {
  background-color: $warning;
   &:hover {
     background-color: lighten($warning-light, 15%);
   }
}


/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@include tabletMq {
  .btn + .btn {
    margin-left: $gutter-s;
  }
}
