/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: $gutter-s 0;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color .3s ease-in-out;
}

.default {
  background-color: $default;
   &:hover {
     background-color: $error-light;
   }
}

.error {
  background-color: $error;
   &:hover {
     background-color: $info-light;
   }
}

.info {
  background-color: $info;
   &:hover {
     background-color: $success-light;
   }
}

.success {
  background-color: $success;
   &:hover {
     background-color: $warning-light;
   }
}

.warning {
  background-color: $warning;
   &:hover {
     background-color: $default-light;
   }
}


/* ============================================= */
/*              Media Queries                                                                  */
/* ============================================= */

@include tabletMq {
  @media(min-width: $brk-pt) {
  }

  .btn + .btn {
    margin-left: $gutter-s;
  }
}
