/* ============================================= */
/*              Forms                                                                               */
/* ============================================= */

.form {
  flex-basis: 100%;
}

.input {
  display: block;
  width: 94%;
  margin: $gutter-s auto 0;
  border: none;
  padding: $gutter-s;
  border-bottom: 5px solid $color-primary;
}

.hidden {
  @include hidden;
}
