/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
  display: $disp;
  margin-left: auto;
  margin-right: auto;
  margin-top: $gutter-s;
  max-width: 100%;
  max-height: 100%;
}

.img-frame {
  display: $disp;
  margin-left: auto;
  margin-right: auto;
  margin-top: $gutter-s;
  max-width: 100%;
  padding: 13px;
  border: 1px solid $color-border;
}

.img-logo {
  display: $disp;
  margin-left: auto;
  margin-right: auto;
}
