/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.nav {
  @include flexy;
  padding-left: 0;
  flex-basis: 100%;
  &-link {
    text-align: center;
    border-radius: 5px;
    padding: $gutter-s 0;
    display: block;
    width: 100%;
    transistion: background-color .2s ease-in-out, color .2s ease-in-out;
    }

  &-link:hover {
    color: $white;
    background-color: $color-primary;
  }

  @media(min-width: $brk-pt) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  
  &-link {
    flex-basis: 100px;
  }
}
